<html>
<head>
<title>This is a default page</title>
</head>

<style>
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
</style>

<body>
<div id = "wrapper">
<div style ="height: 50px">
</div>
<div>
<h1 align = "center" style ="color: red; margin-bottom:20px">Ruby on Rails Default Page</h1>
</div>
<div style = "border-style: solid; border-color: orange; height: 345px">
<nav>
  <ul>
    <li><%= link_to 'About', about_path %></li>
    <li><a href="#">Learn</a></li>
    <li><a href="#">Contribute</a></li>
  </ul>
</nav>
<article>
David Heinemeier Hansson extracted Ruby on Rails from his work on the project management tool Basecamp at the web application company also called Basecamp.[4] Hansson first released Rails as open source in July 2004, but did not share commit rights to the project until February 2005.[citation needed] In August 2006, the framework reached a milestone when Apple announced that it would ship Ruby on Rails with Mac OS X v10.5 "Leopard",[5] which was released in October 2007.
<br/>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and nested model forms. Templates enable the developer to generate a skeleton application with custom gems and configurations. Engines give developers the ability to reuse application pieces complete with routes, view paths and models. The Rack web server interface and Metal allow one to write optimized pieces of code that route around Action Controller.[6]
<br/>On December 23, 2008, Merb, another web application framework, was launched, and Ruby on Rails announced it would work with the Merb project to bring "the best ideas of Merb" into Rails 3, ending the "unnecessary duplication" across both communities.[7] Merb was merged with Rails as part of the Rails 3.0 release.[8][9]
<br/>Rails 3.1 was released on August 31, 2011, featuring Reversible Database Migrations, Asset Pipeline, Streaming, jQuery as default JavaScript library and newly introduced CoffeeScript and Sass into the stack.[10]
<br/>Rails 3.2 was released on January 20, 2012 with a faster development mode and routing engine (also known as Journey engine), Automatic Query Explain and Tagged Logging.[11] Rails 3.2.x is the last version that supports Ruby 1.8.7.[12] Rails 3.2.12 supports Ruby 2.0.[13]
<br/>Rails 4.0 was released on June 25, 2013, introducing Russian Doll Caching, Turbolinks, Live Streaming as well as making Active Resource, Active Record Observer and other components optional by splitting them as gems.[14]
<br/>Rails 4.1 was released on April 8, 2014, introducing Spring, Variants, Enums, Mailer previews, and secrets.yml.[15]
<br/>Rails 4.2 was released on December 19, 2014, introducing Active Job, asynchronous emails, Adequate Record, Web Console, and foreign keys.[16]
<br/>Rails 5.0 was released on June 30, 2016, introducing Action Cable, API mode, and Turbolinks 5.[17]
</article>
</div>
<footer style="background-color: black; position: absolute; bottom: 0; left: 0; width: 100%">
<strong style = "color:white">Justin Hu Was Here</strong>
</footer>
<div>
</body>
</html>